<!DOCTYPE html>
<html lang="pt_br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}<title>ecoleta</title>{% endblock title %}


    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link href="/styles/main.css" rel="stylesheet">

    {% block styles %}{% endblock styles %}

    <link href="/styles/reponsive.css" rel="stylesheet">

</head>

<body>

    <div id="{{ pageId }}">
        {% block content %}{% endblock content %}
    </div>

    {% block modal %}{% endblock modal %}

    {% block script %}{% endblock script %}

</body>
</html>